
#description {
    background-color: #fff;
    padding: 20px;
    margin: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

#description p {
    font-size: 18px;
    color: #555;
    line-height: 1.6;
}

#description h1 {
    font-size: 30px;
    color: #333;
}

#content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start; /* Ensure alignment at the top */
    padding-left: 10%;
    padding-right: 10%;
    margin-top: 200px;
    background-color: #ffffff;
}

#facilities, #map{
    flex: 1;
    margin: 10px;
}

#facilities h2, #map h2 {
    text-align: left;
    color: #333;
    grid-column: span 2;
}

.facility-lists {
    display: flex;
    justify-content: space-between;
}

.facility-lists ul{
    list-style: none;
    padding: 0;
    width: 48%;
}

#facilities li{
    display: flex;
    align-items: center;
    margin: 10px 0;
}

#facilities img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

.popup-content img {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

#facilities span, .popup-content span, #map p {
    font-size: 18px;
    color: #555;
}

iframe {
    width: 100%;
    border: none;
    height: 100%;
}

#viewMoreBtn {
    display: block;
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #333;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#viewMoreBtn:hover {
    background-color: #555;
}

.popup {
    display: none;
    position: fixed;
    z-index: 2;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.popup-content {
    background-color: #fff;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    height: 70%;
    max-width: 600px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow-y: auto; /* Enable vertical scrollbar */
    max-height: calc(100% - 40px);
}

.popup-content li, .popup-content li span{
    font-size: small;
}

@media (max-width: 700px) {
    #content {
        flex-direction: column;
        align-items: center;
        gap: 30px;
        padding-left: 10px;
        padding-right: 10px;
        margin: 100px 0px;
    }

    .facility-lists ul {
        width: 100%; /* Full width on mobile */
    }

    #facilities, #map {
        width: 100%; /* Full width on mobile */
    }

    #viewMoreBtn {
        width: 100%; /* Full width button on mobile */
        align-self: center;
    }
}