header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding-top: 100px;
}
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #000000;
    padding-left: 10px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}
.nav-container {
    display: flex;
    justify-content: center;
    flex: 1;
}
.navbar a {
    color: white;
    text-decoration: none;
    padding-left: 40px;
    padding-right: 40px;
}
.navbar a:hover {
    color: #575757;
}
.logo img {
    width: 100px;
    height: auto;
}
.nav-links {
    display: flex;
    gap: 15px;
}
.login-btn {
    background-color: #1c79bc;
    color: white;
    border: none;
    padding: 10px 20px;
    text-decoration: none;
    font-weight: bold;
    margin-right: 30px;
}
.login-btn:hover {
    background-color: #2786ca;
}
#gallery, #description, #content {
    margin-left: 15%;
    margin-right: 15%;
}